.challenge{
    height: 100%;
    width:100vw;
    background-color: #D9D9D9;
}

.search-bar{
    margin: 10px;
    padding: 15px 40px 15px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
} 

.modal-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.modal-title{
    font-size: 30px;
}

.modal-subheader{
    padding: 10px;
    font-size: 20px;
}

.modal-input{
    padding: 10px;
    width: 60%;
    margin: 10px;
}

.modal-input-description{
    text-align: wrap;
    padding: 10px;
    height: 100px;
    width: 60%;
    margin: 10px;
}

.select-box {
    width: 200px;
    font-size: 20px;
    margin: 10px;
}

.challenge-tile-center-box{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.challenge-tile-box{
    width: 90vw;
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
}

.challenge-tile{
    border-radius: 15px;
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: white;
    color:black;
    transition-duration: 0.4s;
}

.challenge-tile-image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.challenge-tile-description{
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100%;
}

.challenge-tile-favorites{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #517EC1;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 0;
    border: 1px solid white;
    color: white;
    transition-duration: 0.4s;
}

.challenge-tile-favorites:hover{
    background-color: #003165;
}

.challenge-tile-participate{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 240px;
    margin-top: 5px;
    background-color: #517EC1;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 0;
    border: 1px solid white;
    color: white;
    transition-duration: 0.4s;
}

.challenge-tile-participate:hover{
    background-color: #003165;
}

.badge-image{
    height: 100px;
    width: 100px;
}

.hidden-input{
    opacity: 0;
    width: 0;
}

.challenge-button-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.overflow{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.badge-pending{
    display: flex;
    height: 90px;
    width: 90px; 
    filter: 
    opacity(0.2) 
    drop-shadow(0px 0px 0px rgb(54, 53, 53))
    drop-shadow(5px 5px 5px rgb(21, 21, 21))
  
}
.badge-won1{
    display: flex;
    height: 90px;
    width: 90px; 
    filter: 
    opacity(0.4) 
    drop-shadow(0px 0px 0px rgb(0, 83, 207)) 
    drop-shadow(0px 0px 0px rgb(0, 83, 207)) 
    drop-shadow(5px 5px 15px rgb(0, 255, 251)) 
    drop-shadow(5px 5px 15px rgb(0, 255, 251));
}

.badge-won2{
    display: flex;
    height: 90px;
    width: 90px; 
    filter: 
    opacity(0.4) 
    drop-shadow(0px 0px 0px rgb(223, 141, 0))
    drop-shadow(0px 0px 0px rgb(223, 141, 0))
    drop-shadow(5px 5px 15px rgb(255, 195, 82)) 
    drop-shadow(5px 5px 15px rgb(255, 195, 82)) 
}